@import 'mixins';

.brands {
  width: 100vw;
  height: auto;

  &__name {
    @include name;
  }

  &__swiper {
    overflow: hidden;
    position: relative;
    padding: 16px 16px 32px;
    box-sizing: border-box;
  }

  &__slide {
    border-radius: 6px;
    border: 1px solid rgba(234, 234, 234, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 16px;
    box-sizing: border-box;
    position: relative;
  }

  &__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__info {
    display: none;
  }

  &__icon {
    width: 24;
    height: 24;
    margin-right: 9px;
  }

  &__toggle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: none;
    color: rgba(27, 28, 33, 1);
  }
}

@media (min-width: 768px) {
  .brands__wrapper {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .swiper-slide {
    width: 100% !important;
  }

  .swiper-slide:nth-child(n + 7),
  .swiper-pagination {
    display: none;
  }

  .brands__btn {
    pointer-events: none;
  }

  .brands__info {
    display: flex !important;
  }
}

@media (min-width: 1120px) {
  .brands {
    width: calc(100vw - 320px);
    margin-left: 320px;
  }

  .brands__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .swiper-slide:nth-child(7),
  .swiper-slide:nth-child(8) {
    display: flex;
  }
}
