.info {
  display: block;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 32px;
  }

  &__text {
    width: 100%;
    height: auto;
    padding: 24px 16px 0 16px;
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    .info__text {
      padding: 0 16px;
    }
  }

  &__description {
    max-height: 180px;
    height: 90px;
    height: auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: rgba(27, 28, 33, 1);
    overflow: hidden;
  }

  &__second {
    display: none;
    margin-top: 16px;
  }

  &__read {
    width: auto;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    border: none;
    background-color: transparent;
    margin: 16px 0;
    display: flex;
    align-items: center;
  }

  // @media (min-width: 768px) {
  //   .info__read {
  //     margin: 0;
  //   }
  // }

  &__icon {
    margin-right: 10px;
  }

  &__logo {
    width: 100vw;
  }
}
