.info {
  display: block;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 32px;
  }

  &__text {
    width: 100%;
    height: auto;
    padding: 24px 16px 0 16px;
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    .info__text {
      padding: 0 16px;
    }
  }

  &__description {
    max-height: 160px;
    height: 90px;
    height: auto;
    color: rgba(27, 28, 33, 1);
    overflow: hidden;

    font-family: 'TTLakes', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  @media (min-width: 768px) {
    .info__description {
      height: 125px;
    }
  }

  @media (min-width: 1120px) {
    .info__description {
      height: auto;
    }
  }

  &__second {
    display: none;
    margin-top: 16px;
  }

  @media (min-width: 768px) {
    .info__second {
      display: block;
    }
  }

  &__read {
    width: auto;
    height: 24px;
    color: #1b1c21;
    border: none;
    background-color: transparent;
    margin: 16px 0;
    display: flex;
    align-items: center;
    font-family: 'TTLakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__icon {
    margin-right: 10px;
  }

  &__logo {
    width: 100vw;
  }

  @media (min-width: 768px) {
    .info__logo {
      margin-right: 16px;
    }
  }

  @media (min-width: 1120px) {
    .info__logo {
      width: 60vw;
    }
  }
}

@media (min-width: 1120px) {
  .info {
    width: calc(100vw - 320px);
    margin-left: 320px;
  }

  .info__logo {
    width: 70vw !important;
  }
}
