@import 'mixins';
@import 'variables';

.message {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;
  position: fixed;
  top: 0;
  transition-duration: 300ms;
  z-index: 2;

  &-box {
    width: 320px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    right: -450px;
    transition-duration: 300ms;
    pointer-events: auto;
    overflow-y: auto;
    border: 1px solid rgba(217, 255, 245, 1);
  }

  &__btn {
    @include btn-nav;
    margin: 24px 0 0 16px;
  }

  &__btn--desktop {
    display: none;
  }

  &--icon {
    color: white;
    font-size: 30px;
    pointer-events: none;
  }

  &__box-name {
    display: flex;
    align-items: center;
    margin: 40px 0 24px 0;
  }

  &__line {
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    transform: rotate(-180deg);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 12px;
  }

  &__name {
    color: #1b1c21;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }

  &__pole {
    width: 288px;
    padding: 12px 0 12px 16px;
    display: block;
    margin: 0 auto 16px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 8px;
  }

  &--text {
    padding: 12px 0 82px 16px;
  }

  &__pole:focus {
    outline: none;
    border: 1px solid rgba(65, 246, 215, 1);
  }

  &__consent {
    padding: 0 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
  }

  &__color {
    color: $highlight;
  }

  &__box-submit {
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    height: auto;
    margin-top: 19px;
    display: flex;
    justify-content: end;
  }

  &__submit {
    width: 136px;
    height: 32px;
    border-radius: 16px;
    background-color: $highlight;
    color: rgba(255, 255, 255, 1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}

@media (min-width: 1440px) {
  .message__btn--mobul {
    display: none;
  }

  .message__btn--desktop {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-color: #ff3e79;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 472px;
    opacity: 0;
    pointer-events: none;
    transition-duration: 300ms;
  }
  .message__box-name {
    margin: 25px 0 24px 0;
  }

  .message-box {
    width: 440px;
  }
}
