.repair {
  width: 100vw;
  height: auto;

  &__name {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(126, 126, 130, 1);
    padding: 16px;
    box-sizing: border-box;
    border-top: 1px solid rgba(217, 255, 245, 1);
  }

  &__swiper {
    overflow: hidden;
    position: relative;
    padding: 16px 16px 32px;
    box-sizing: border-box;
  }

  &__slide {
    height: 160px !important;
    border-radius: 6px;
    border: 1px solid rgba(234, 234, 234, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 16px;
    box-sizing: border-box;
    position: relative;
  }

  &__btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &__info {
    display: none;
  }

  &__icon {
    width: 24;
    height: 24;
    margin-right: 9px;
  }

  &__toggle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: none;
    color: rgba(27, 28, 33, 1);
  }
}

@media (min-width: 768px) {
  .swiper-wrapper {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .repair__slide {
    width: 100% !important;
  }

  .repair__slide:nth-child(n + 7),
  .swiper-pagination {
    display: none;
  }

  .repair__btn {
    pointer-events: none;
  }

  .repair__info {
    display: flex !important;
  }
}

@media (min-width: 1120px) {
  .repair {
    width: calc(100vw - 320px);
    margin-left: 320px;
  }

  .swiper-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .repair__slide:nth-child(7),
  .repair__slide:nth-child(8) {
    display: flex;
  }
}
