@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// /* Применение Regular шрифта */
// p {
//   font-family: 'TTLakes', sans-serif;
//   font-weight: normal;
// }

// /* Применение Medium шрифта */
// h2 {
//   font-family: 'TTLakes', sans-serif;
//   font-weight: 500;
// }

// /* Применение Bold шрифта */
// h1 {
//   font-family: 'TTLakes', sans-serif;
//   font-weight: bold;
// }
