@mixin btn-nav {
  width: 40px;
  aspect-ratio: 1 / 1;
  background-color: #ff3e79;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
