@mixin btn-nav {
  width: 40px;
  aspect-ratio: 1 / 1;
  background-color: #ff3e79;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin name {
  width: 100%;
  height: auto;
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, 1),
    rgba(255, 255, 255, 1)
  );
  color: rgba(126, 126, 130, 1);
  padding: 16px;
  box-sizing: border-box;
  border-top: 1px solid rgba(217, 255, 245, 1);
  font-family: 'TTLakes', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
